LTP_Albert_w.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: LTP_Albert_w
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@77274df8fe2632cac66bfd153fcc75aa5e96abbe92b5c611b8984ad9f4cd4457
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1747123274213-false-1745663738202-target
      selected: false
      source: '1747123274213'
      sourceHandle: 'false'
      target: '1745663738202'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1747123274213-true-1747644046528-target
      source: '1747123274213'
      sourceHandle: 'true'
      target: '1747644046528'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1745663738202-source-1747897562284-target
      source: '1745663738202'
      sourceHandle: source
      target: '1747897562284'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1747644046528-source-1747481607930-target
      source: '1747644046528'
      sourceHandle: source
      target: '1747481607930'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1744964720777-source-1747123274213-target
      source: '1744964720777'
      sourceHandle: source
      target: '1747123274213'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 联网搜索
          max_length: 48
          options:
          - 全网搜索
          - 本地模式
          required: true
          type: select
          variable: net
      height: 90
      id: '1744964720777'
      position:
        x: 30
        y: 263
      positionAbsolute:
        x: 30
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: LTP_Albert_a
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 35749962-a212-441d-af6c-0b317072ac10
          role: system
          text: ''
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1745663738202'
      position:
        x: 638
        y: 263
      positionAbsolute:
        x: 638
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 56780dd4-ceab-4353-a0bd-87e1802f21d8
            value: 全网搜索
            varType: string
            variable_selector:
            - '1744964720777'
            - net
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 2
        type: if-else
      height: 126
      id: '1747123274213'
      position:
        x: 334
        y: 263
      positionAbsolute:
        x: 334
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1747644046528.text#}}'
        desc: ''
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 105
      id: '1747481607930'
      position:
        x: 942
        y: 408
      positionAbsolute:
        x: 942
        y: 408
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params: {}
          mode: chat
          name: LTP_Albert_b
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fc041d04-5c25-490e-95e7-28004186ef3a
          role: system
          text: ''
        selected: false
        title: LLM 5
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1747644046528'
      position:
        x: 638
        y: 408
      positionAbsolute:
        x: 638
        y: 408
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1745663738202.text#}}'
        desc: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 105
      id: '1747897562284'
      position:
        x: 942
        y: 263
      positionAbsolute:
        x: 942
        y: 263
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 40.89247514157739
      y: 67.24775163044023
      zoom: 0.8040888484979245
