tavily_search.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: tavily_search
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tavily:0.0.5@caf7214ca1a237845e991615fd12e04c8db8b703d59773538fe243f3de4044e9
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.2.1@88c1b2c816ef2ea36fc411b35298a621b3260d34bc08bd9357772092728aadde
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1747917596709-source-1747917615590-target
      source: '1747917596709'
      sourceHandle: source
      target: '1747917615590'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        sourceType: llm
        targetType: template-transform
      id: 1747963969948-source-1747963122529-target
      source: '1747963969948'
      sourceHandle: source
      target: '1747963122529'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1747917615590-source-1747964390628-target
      source: '1747917615590'
      sourceHandle: source
      target: '1747964390628'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1747964390628-source-1747917724719-target
      source: '1747964390628'
      sourceHandle: source
      target: '1747917724719'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1747917555530-source-1747979432910-target
      source: '1747917555530'
      sourceHandle: source
      target: '1747979432910'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1747979432910-source-1747917596709-target
      source: '1747979432910'
      sourceHandle: source
      target: '1747917596709'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        sourceType: iteration-start
        targetType: code
      id: 1747917615590start-source-1747981051944-target
      source: 1747917615590start
      sourceHandle: source
      target: '1747981051944'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        sourceType: code
        targetType: http-request
      id: 1747981051944-source-1747980987307-target
      source: '1747981051944'
      sourceHandle: source
      target: '1747980987307'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        sourceType: http-request
        targetType: llm
      id: 1747980987307-source-1747963969948-target
      source: '1747980987307'
      sourceHandle: source
      target: '1747963969948'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: input
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: input
      height: 90
      id: '1747917555530'
      position:
        x: 30
        y: 435
      positionAbsolute:
        x: 30
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\ndef main(arg1) -> dict:\n    urls = re.findall(r'http[s]?://[^\\\
          s)]+', arg1)\n    return {\n        \"result\": urls[:10],\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1747979432910'
          - text
          variable: arg1
      height: 54
      id: '1747917596709'
      position:
        x: 638
        y: 435
      positionAbsolute:
        x: 638
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 470
        is_parallel: true
        iterator_selector:
        - '1747917596709'
        - result
        output_selector:
        - '1747963122529'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1747917615590start
        title: 迭代
        type: iteration
        width: 2272
      height: 470
      id: '1747917615590'
      position:
        x: 929.1428571428571
        y: 435
      positionAbsolute:
        x: 929.1428571428571
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2272
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1747917615590start
      parentId: '1747917615590'
      position:
        x: 60
        y: 99.5
      positionAbsolute:
        x: 989.1428571428571
        y: 534.5
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1747964390628'
          - result
          variable: output
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1747917724719'
      position:
        x: 3578
        y: 435
      positionAbsolute:
        x: 3578
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        selected: false
        template: '{{ arg1 }}\SP{{ text }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1747917615590'
          - item
          variable: arg1
        - value_selector:
          - '1747963969948'
          - text
          variable: text
      height: 54
      id: '1747963122529'
      parentId: '1747917615590'
      position:
        x: 1116
        y: 96.5
      positionAbsolute:
        x: 2045.142857142857
        y: 531.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        default_value:
        - key: text
          type: string
          value: An error occurred during execution.
        desc: ''
        error_strategy: default-value
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        model:
          completion_params:
            max_output_tokens: 8192
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash-001
          provider: langgenius/gemini/google
        prompt_template:
        - id: 2115890c-c105-4589-bbf3-4d0f8317c964
          role: system
          text: '你是一个信息抽取专家，请从下面的文本中：

            1. 提取所有重要的事实（例如人名、地名、时间、数据、观点等）

            2. 去除无关冗余的描述

            3. 按照逻辑分块（如“背景”“关键数据”“结论”）或用要点列表展示

            4. 每条要点保留必要上下文，方便理解


            你需要提取的文本为：

            {{#1747980987307.body#}}'
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1747963969948'
      parentId: '1747917615590'
      position:
        x: 812
        y: 60.5
      positionAbsolute:
        x: 1741.142857142857
        y: 495.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import time\ndef main(arg1) -> dict:\n    result = []\n    for item\
          \ in arg1:\n        url, text = item.split('\\\\SP')\n        text = text.replace('\\\
          n', ' ')\n        result.append({'url':url, 'text':text})\n    return {\n\
          \        \"result\": result,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1747917615590'
          - output
          variable: arg1
      height: 54
      id: '1747964390628'
      position:
        x: 3274
        y: 435
      positionAbsolute:
        x: 3274
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The search query you want to execute with Tavily.
            ja_JP: The search query you want to execute with Tavily.
            pt_BR: The search query you want to execute with Tavily.
            zh_Hans: 您想用 Tavily 执行的搜索查询。
          label:
            en_US: Query
            ja_JP: Query
            pt_BR: Query
            zh_Hans: 查询
          llm_description: The search query.
          max: null
          min: null
          name: query
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: basic
          form: llm
          human_description:
            en_US: The depth of the search.
            ja_JP: The depth of the search.
            pt_BR: The depth of the search.
            zh_Hans: 搜索的深度。
          label:
            en_US: Search Depth
            ja_JP: Search Depth
            pt_BR: Search Depth
            zh_Hans: 搜索深度
          llm_description: The depth of the search. 'basic' for standard search, 'advanced'
            for more comprehensive results.
          max: null
          min: null
          name: search_depth
          options:
          - label:
              en_US: Basic
              ja_JP: Basic
              pt_BR: Basic
              zh_Hans: 基本
            value: basic
          - label:
              en_US: Advanced
              ja_JP: Advanced
              pt_BR: Advanced
              zh_Hans: 高级
            value: advanced
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: general
          form: llm
          human_description:
            en_US: The category of the search.
            ja_JP: The category of the search.
            pt_BR: The category of the search.
            zh_Hans: 搜索的类别。
          label:
            en_US: Topic
            ja_JP: Topic
            pt_BR: Topic
            zh_Hans: 主题
          llm_description: The category of the search. Options include 'general',
            'news', or 'finance'.
          max: null
          min: null
          name: topic
          options:
          - label:
              en_US: General
              ja_JP: General
              pt_BR: General
              zh_Hans: 一般
            value: general
          - label:
              en_US: News
              ja_JP: News
              pt_BR: News
              zh_Hans: 新闻
            value: news
          - label:
              en_US: Finance
              ja_JP: Finance
              pt_BR: Finance
              zh_Hans: 金融
            value: finance
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 3
          form: llm
          human_description:
            en_US: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            ja_JP: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            pt_BR: The number of days back from the current date to include in the
              search results (only applicable when "topic" is "news").
            zh_Hans: 从当前日期起向前追溯的天数，以包含在搜索结果中（仅当"topic"为"news"时适用）。
          label:
            en_US: Days
            ja_JP: Days
            pt_BR: Days
            zh_Hans: 天数
          llm_description: The number of days back from the current date to include
            in the search results. Only applicable when "topic" is "news".
          max: null
          min: 1
          name: days
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: not_specified
          form: llm
          human_description:
            en_US: The time range back from the current date to filter results.
            ja_JP: The time range back from the current date to filter results.
            pt_BR: The time range back from the current date to filter results.
            zh_Hans: 从当前日期起向后筛选结果的时间范围。
          label:
            en_US: Time Range
            ja_JP: Time Range
            pt_BR: Time Range
            zh_Hans: 时间范围
          llm_description: The time range back from the current date to filter results.
            Options include 'not_specified', 'day', 'week', 'month', or 'year'.
          max: null
          min: null
          name: time_range
          options:
          - label:
              en_US: Not Specified
              ja_JP: Not Specified
              pt_BR: Not Specified
              zh_Hans: 不指定
            value: not_specified
          - label:
              en_US: Day
              ja_JP: Day
              pt_BR: Day
              zh_Hans: 天
            value: day
          - label:
              en_US: Week
              ja_JP: Week
              pt_BR: Week
              zh_Hans: 周
            value: week
          - label:
              en_US: Month
              ja_JP: Month
              pt_BR: Month
              zh_Hans: 月
            value: month
          - label:
              en_US: Year
              ja_JP: Year
              pt_BR: Year
              zh_Hans: 年
            value: year
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: The maximum number of search results to return.
            ja_JP: The maximum number of search results to return.
            pt_BR: The maximum number of search results to return.
            zh_Hans: 要返回的最大搜索结果数。
          label:
            en_US: Max Results
            ja_JP: Max Results
            pt_BR: Max Results
            zh_Hans: 最大结果数
          llm_description: The maximum number of search results to return. Range is
            1-20.
          max: 20
          min: 1
          name: max_results
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Include a list of query-related images in the response.
            ja_JP: Include a list of query-related images in the response.
            pt_BR: Include a list of query-related images in the response.
            zh_Hans: 在响应中包含与查询相关的图片列表。
          label:
            en_US: Include Images
            ja_JP: Include Images
            pt_BR: Include Images
            zh_Hans: 包含图片
          llm_description: When set to true, includes a list of query-related images
            in the response.
          max: null
          min: null
          name: include_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: When include_images is True, adds descriptive text for each image.
            ja_JP: When include_images is True, adds descriptive text for each image.
            pt_BR: When include_images is True, adds descriptive text for each image.
            zh_Hans: 当 include_images 为 True 时，为每个图像添加描述文本。
          label:
            en_US: Include Image Descriptions
            ja_JP: Include Image Descriptions
            pt_BR: Include Image Descriptions
            zh_Hans: 包含图片描述
          llm_description: When include_images is True and this is set to true, adds
            descriptive text for each image.
          max: null
          min: null
          name: include_image_descriptions
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Include a short answer to the original query in the response.
            ja_JP: Include a short answer to the original query in the response.
            pt_BR: Include a short answer to the original query in the response.
            zh_Hans: 在响应中包含对原始查询的简短回答。
          label:
            en_US: Include Answer
            ja_JP: Include Answer
            pt_BR: Include Answer
            zh_Hans: 包含答案
          llm_description: When set to true, includes a short answer to the original
            query in the response.
          max: null
          min: null
          name: include_answer
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Include the cleaned and parsed HTML content of each search result.
            ja_JP: Include the cleaned and parsed HTML content of each search result.
            pt_BR: Include the cleaned and parsed HTML content of each search result.
            zh_Hans: 包含每个搜索结果的已清理和解析的HTML内容。
          label:
            en_US: Include Raw Content
            ja_JP: Include Raw Content
            pt_BR: Include Raw Content
            zh_Hans: 包含原始内容
          llm_description: When set to true, includes the cleaned and parsed HTML
            content of each search result.
          max: null
          min: null
          name: include_raw_content
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: A comma-separated list of domains to specifically include in the
              search results.
            ja_JP: A comma-separated list of domains to specifically include in the
              search results.
            pt_BR: A comma-separated list of domains to specifically include in the
              search results.
            zh_Hans: 要在搜索结果中特别包含的域的逗号分隔列表。
          label:
            en_US: Include Domains
            ja_JP: Include Domains
            pt_BR: Include Domains
            zh_Hans: 包含域
          llm_description: A comma-separated list of domains to specifically include
            in the search results.
          max: null
          min: null
          name: include_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: A comma-separated list of domains to specifically exclude from
              the search results.
            ja_JP: A comma-separated list of domains to specifically exclude from
              the search results.
            pt_BR: A comma-separated list of domains to specifically exclude from
              the search results.
            zh_Hans: 要从搜索结果中特别排除的域的逗号分隔列表。
          label:
            en_US: Exclude Domains
            ja_JP: Exclude Domains
            pt_BR: Exclude Domains
            zh_Hans: 排除域
          llm_description: A comma-separated list of domains to specifically exclude
            from the search results.
          max: null
          min: null
          name: exclude_domains
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          days: ''
          exclude_domains: ''
          include_answer: ''
          include_domains: ''
          include_image_descriptions: ''
          include_images: ''
          include_raw_content: ''
          max_results: ''
          query: ''
          search_depth: ''
          time_range: ''
          topic: ''
        provider_id: langgenius/tavily/tavily
        provider_name: langgenius/tavily/tavily
        provider_type: builtin
        selected: false
        title: Tavily Search
        tool_configurations:
          exclude_domains: null
          include_answer: 0
          include_domains: null
          include_image_descriptions: 0
          include_images: 0
          include_raw_content: 0
          max_results: 5
        tool_description: 专为人工智能代理 (LLM) 构建的搜索引擎工具，可快速提供实时、准确和真实的结果。
        tool_label: Tavily Search
        tool_name: tavily_search
        tool_parameters:
          days:
            type: constant
            value: 30
          query:
            type: mixed
            value: '{{#1747917555530.input#}}'
          search_depth:
            type: constant
            value: advanced
          time_range:
            type: constant
            value: day
          topic:
            type: constant
            value: general
        type: tool
      height: 246
      id: '1747979432910'
      position:
        x: 334
        y: 435
      positionAbsolute:
        x: 334
        y: 435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: jina_2861df521d784a13a33825ae1b764961z9Gy0Lu99asUfD6FjvyuahBx9ykk
            type: bearer
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#1747981051944.result#}}'
        variables: []
      height: 127
      id: '1747980987307'
      parentId: '1747917615590'
      position:
        x: 508
        y: 60
      positionAbsolute:
        x: 1437.142857142857
        y: 495
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    arg2 = 'https://r.jina.ai/'\n \
          \   return {\n        \"result\": arg2+arg1,\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747917615590'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1747917615590'
          - item
          variable: arg1
      height: 54
      id: '1747981051944'
      parentId: '1747917615590'
      position:
        x: 204
        y: 96.5
      positionAbsolute:
        x: 1133.142857142857
        y: 531.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    viewport:
      x: -320
      y: -20.499999999999773
      zoom: 0.7
